<%= render partial: "shared/nav" %>

<div class="row">
  <div class="col-sm-6 column-header">
    <h2 class='mr-auto'> Coupon List</h2>
  </div>
</div>

<div class="mr-auto col-sm-6">
  <ul>
    <% @coupons.each do |coupon| %>
      <section id="coupon-<%= coupon.id %>">
          <li> <p> <%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %> </p>
            Dollar off <%= coupon.dollar_off %>
            Percent off <%= coupon.percent_off %>
          </li>
      </section>
    <% end %>
  </ul>
</div>

