<%= render partial: "shared/nav" %>

<div class="row">
  <div class="col-sm-6 column-header">
    <h2 class='mr-auto'> Coupon Information</h2>
  </div>
</div>

<div class="mr-auto col-sm-6 column-header">
  <ul>
      <li> 
        <h2>__<%= @coupon.name %>__</h2>
        <p> Coupon Code <%= @coupon.unique_code %> </p>
        <p> Dollar off $<%= @coupon.dollar_off/10 %> </p>
        <p> Percent off <%= @coupon.percent_off*10 %> % </p>
        <p> Coupon Status: <%= @coupon.status %> </p>
        <p> Times Used: <%= @times_coupon_used %> </p>
      </li>
  </ul>
</div>
